<h2>{{title}}</h2>
<hr />

<section id="form">
    <form (ngSubmit)="onSubmit()" #clienteForm="ngForm">
        <div class="form-group">
            <label>
              Nome
            </label>
            <input [(ngModel)]="cliente.nome" name="cliente_nome" class="form-control">
            <label>
              CPF
            </label>
            <input [(ngModel)]="cliente.cpf" name="cliente_cpf" class="form-control" mask="CPF_CNPJ">
            <label>
              Data Nascimento
            </label>
            <input [(ngModel)]="cliente.dataNascimento" name="cliente_dtanascimento" class="form-control" mask="d0/M0/00" [leadZeroDateTime]="true">
            <label>
              Endereço
            </label>
            <textarea [(ngModel)]="cliente.endereco" name="cliente_endereco" class="form-control" maxLenght="50"> </textarea>

        </div>

        <button type="submit" class="btn btn-primary me-2 mt-2">Salvar</button>
        <button type="button" class="btn btn-secondary mt-2" [routerLink]="['/cliente']">Cancelar</button>

    </form>
</section>