<header>
    <nav class="navbar fixed-top navbar-dark bg-primary">
        <a class="navbar-brand" [routerLink]="['/']"> Vendas </a>
        <a class="navbar-brand" href="/">
            <button class="btn btn-primary me-3" onclick="localStorage.clear()">
        Sair
      </button></a>
    </nav>

</header>

<section style="text-align: center;">
    <main class="container">
        <div id="home_buttons" class="p-grid p-justify-center">
            <button type="button" class="btn btn-primary me-3 mb-2" [routerLink]="['/cliente']">
        Clientes
      </button>
            <button type="button" class="btn btn-primary me-3 mb-2" [routerLink]="['/funcionario']">
        Funcionarios
      </button>
            <button type="button" class="btn btn-primary me-3 mb-2" [routerLink]="['/produto']">
        Produtos
      </button>
            <button type="button" class="btn btn-primary me-3 mb-2" [routerLink]="['/venda']">
        Vendas
      </button>
        </div>
    </main>
</section>