<h2>Clientes</h2>
<hr />

<button type="button" class="btn btn-primary mb-2" [routerLink]="['/cliente/new']">
  Novo Cliente
</button>

<section>
    <div *ngIf="clientes.length == 0" class="alert alert-warning" role="alert">
        Nenhum cliente foi cadastrado ainda.
    </div>

    <ol class="list-group">
        <li class="list-group-item ">NOME</li>
        <li class="list-group-item ">CPF</li>
        <li class="list-group-item ">DATA NASCIMENTO</li>
        <li class="list-group-item ">ENDEREÇO</li>
    </ol>
    <ol class="list-group">
        <li class="list-group-item " *ngFor="let clientelist of clientes">
            <app-cliente-list-item [cliente]="clientelist" class="cliente-item"></app-cliente-list-item>
        </li>
    </ol>
</section>