<h2>Promoções</h2>
<hr />

<button type="button" class="btn btn-primary mb-2" [routerLink]="['/produto/new']">
  Novo Produto
</button>
<button type="button" style="text-align: right;" class="btn btn-secondary mb-2 " [routerLink]="['']">Voltar</button>
<section>


    <div class="list-group">
        <div class="list-group-item ">NOME</div>
        <div class="list-group-item ">PREÇO</div>
        <div class="list-group-item ">QUANTIDADE</div>
        <div class="list-group-item ">PROMOÇÃO</div>

    </div>
    <div class="list-group" *ngFor="let produtolist of produtos">
        <div *ngIf="produtolist.promocao == 'SIM'">
            <li class="list-group-item ">
                <app-promocao-list-item [produto]="produtolist" class="produto-item"></app-promocao-list-item>
            </li>
        </div>

    </div>
</section>
