<h2>{{title}}</h2>
<hr />

<section id="form">
    <form (ngSubmit)="onSubmit()" #vendaForm="ngForm">
        <div class="form-group">
            <label>
              CLIENTE
            </label> <br>
            <select [(ngModel)]="venda.id_cliente" name="venda_idcCli" class="form-control">
                  <option *ngFor="let cliente of cliente" [value]="cliente._id"> {{cliente.nome}}</option>
            </select>
            <label>
              VENDEDOR
            </label>
            <select [(ngModel)]="venda.id_funcionario" name="venda_idFunc" class="form-control">
              <option *ngFor="let funcionario of funcionario" [value]="funcionario._id"> {{funcionario.nome}}</option>
            </select>
            <label>
              PRODUTO
            </label>
            <select [(ngModel)]="venda.id_produto" name="venda_produto" class="form-control">
              <option *ngFor="let produto of produto" [value]="produto._id">
                {{produto.nome}}
                <textarea [(ngModel)]="venda.preco" name="venda_preco" class="form-control" [value]="produto.preco">{{produto.preco}}</textarea>
              </option>
            </select>



        </div>

        <button type="submit" class="btn btn-primary me-2 mt-2">Salvar</button>
        <button type="button" class="btn btn-secondary mt-2" [routerLink]="['/venda']">Cancelar</button>

    </form>
</section>
